#
# {{ ansible_managed }}
#
# Supported directives:
# https://access.redhat.com/documentation/en-us/red_hat_directory_server/9.0/html/installation_guide/Advanced_Configuration-Silent#Advanced_Configuration-inf-File-directives

[General]
FullMachineName = {{ ansible_fqdn }}
SuiteSpotUserID = dirsrv
SuiteSpotGroup = dirsrv

[slapd]
ServerPort = 389
ServerIdentifier = {{ instance }}
Suffix = {{ primary_suffix }}
RootDN = cn=Directory Manager
RootDNPwd = {{ password }}
